<?xml version='1.0' encoding='utf-8'?>
<Context>
	<WatchedResource>WEB-INF/web.xml</WatchedResource>

	<Environment name="REFERENTIALS_CONFIGURATION_COMMONS" type="java.lang.String" 
		value="file:///var/epapyrus/conf/ePapyrusReferentials/referentials-commons.properties" />
	<Environment name="REFERENTIALS_CONFIGURATION_ENVSPEC" type="java.lang.String" 
		value="file:///var/epapyrus/conf/ePapyrusReferentials/demo/referentials-demo.properties" />

	<Resource name="jdbc/ReferentialsDataSource"
		auth="Container"
		type="javax.sql.DataSource"
		username="root"
		password="a$pi2012"
		driverClassName="org.gjt.mm.mysql.Driver"
		url="jdbc:mysql://bdd-MDEPAREF02.itcloud.lan:3306/MDEPAREF02?autoReconnect=true"
		validationQuery="SELECT 1"
		validationQueryTimeout="2"
		testOnReturn="false"
		testOnBorrow="true"
		maxActive="3"
		maxIdle="1"
		maxWait="10000"
		/>

	<Resource name="jdbc/KeopsDataSource"
		type="javax.sql.DataSource"
		username="STEPAKEO01"
		password="eRSmq2ec"
		driverClassName="com.ibm.as400.access.AS400JDBCDriver"
		url="jdbc:as400://keops.corsairfly.com/KEOPSDTAT"
		validationQuery="SELECT count(AVION.CODAVION) FROM AVION"
		validationQueryTimeout="2"
		testOnReturn="false"
		testOnBorrow="true"
		maxActive="1"
		maxIdle="1"
		maxWait="10000"
		/>

	<Resource name="jdbc/NetlineDataSource"
		auth="Container"
		type="javax.sql.DataSource"
		username="epapyrus"
		password="j4LIF1o99s7AWg1"
		driverClassName="oracle.jdbc.OracleDriver"
		url="jdbc:oracle:thin:@//10.160.252.149:1521/PNLCRL"
		validationQuery="SELECT 1 FROM DUAL"
		validationQueryTimeout="2"
		testOnReturn="false"
		testOnBorrow="true"
		maxActive="3"
		maxIdle="1"
		maxWait="10000"
		/>

</Context>